</div> <footer class="bg-gray-800 text-white py-5 mt-auto">
        <div class="container mx-auto px-6 text-center">
            <div class="flex justify-center space-x-6 mb-4">
                <a href="#" class="hover:text-gray-300"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="hover:text-gray-300"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="hover:text-gray-300"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <p class="text-gray-400">&copy; <%= new Date().getFullYear() %> LMS Project. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>